<article *ngIf="model">
  <header>
    <h1>{{model.title}}</h1>
    <div>
      <span *ngFor="let tag of model.tags" class="badge badge-secondary">{{tag}}</span>
    </div>
  </header>
  <section>
    <img *ngFor="let image of model.images" src="http://localhost:3000/{{image}}" />
  </section>
  <section><p>{{model.text}}</p></section>
  <footer>
    <div>{{model.author}}</div>
    <div>{{model.created | date:long}}</div>
    <div>{{model.modified | date:long}}</div>
  </footer>
</article>
<article *ngIf="!model">

</article>