@import url('https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css');

h1{
    text-align: center;
}

.blog-img-container {
    position: relative;
}

.blog-img {
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    height: auto;
    max-height: 350px;
}

.left-btn {
    position: absolute; 
    top: 50%; 
    left: 1rem;
    background-color: transparent;
    border-color: transparent;
}

.right-btn {
    position: absolute; 
    top: 50%; 
    right: 1rem;
    background-color: transparent;
    border-color: transparent;
}