<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <base href="/">
  <div *ngIf="!blogStoreService.isUserRegistered()">
    <nav>
      <a routerLink="/register">Register</a>
      <a routerLink="/login">Login</a>
    </nav>
  </div>
  <div *ngIf="blogStoreService.isUserRegistered()">
      <a routerLink="/articles/1">Articles</a>
      <a routerLink="/my/1"></a>
      <a routerLink="/article">New Article</a>
  </div>
</div>
<div>
  <router-outlet></router-outlet>
</div>