<div>
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <a routerLink="/articles/1" class="navbar-brand">{{title}}</a>
            <ul class="nav navbar-nav navbar-left">
                <li><a *ngIf="username" routerLink="/articles/1">Articles</a></li>
                <li><a *ngIf="username" routerLink="/my/1">My Articles</a></li>
                <li><a *ngIf="username" routerLink="/new">New Article</a></li>
                <li><a *ngIf="username" routerLink="/me">{{username}}</a></li>
                <li><a *ngIf="username" (click)="onLogout()" class="logout-anchor">Logout</a></li>
                <li><a *ngIf="!username" routerLink="/register">Register</a></li>
                <li><a *ngIf="!username" routerLink="/login">Login</a></li>
            </ul>
        </div>
    </nav>
    <div class="container">
        <app-message></app-message>
        <router-outlet></router-outlet>
        <hr />
    </div>
    <footer class="container">
       <p>&copy; {{title}}</p>
    </footer>
</div>