<div *ngIf="articleInfoViewModel">
  <div>
    <section *ngFor="let article of articleInfoViewModel">
        <header>
          <h3>{{article.title}}</h3>
          <p>{{article.text}}</p>
        </header>
        <img src={{article.image}} />
        <footer>
          <div>{{article.author}}</div>
          <div>{{article.tags}}</div>
          <div>{{article.created | date:long}}</div>
        </footer>
    </section>
  </div>
<div>
  <a *ngFor="let currentPage of pages" routerLink="/articles/{{currentPage}}">{{currentPage}}</a>
</div>
</div>
<div *ngIf="!articleInfoViewModel">
  <div>No articles.</div>
</div>