<div *ngIf="hasArticles">
  <div>
    <section *ngFor="let articleArr of articleInfoViewModel">
      <div class="row">
        <section *ngFor="let article of articleArr" class="col-xs-3 col-sm-3 col-md-3 col-lg-3 card">
          <header>
            <h3>{{article.title}}</h3>
            <div><span *ngFor="let tag of article.tags" class="badge badge-secondary">{{tag}}</span></div>
          </header>
          <footer>
            <div>Author {{article.author}}</div>
            <div>Created At {{article.created | date:long}}</div>
            <a routerLink="/article/{{article._id}}" class="btn btn-sm btn-primary">View</a>
            <a routerLink="/edit/{{article._id}}" class="btn btn-sm btn-default">Edit</a>
          </footer>
        </section>
      </div>
    </section>
  </div>
<div>
  <ul class="pagination">
    <li *ngFor="let currentPage of pages" class="page-item"><a routerLink="/my/{{currentPage}}" class="page-link">{{currentPage}}</a></li>
  </ul> 
</div>
</div>
<div *ngIf="!hasArticles">
  <div>No articles.</div>
</div>